{% for opendkim_domain_item in opendkim_domain_list %}
{{ opendkim_domain_item.selector }}._domainkey.{{ opendkim_domain_item.domainname }} {{ opendkim_domain_item.domainname }}:{{ opendkim_domain_item.selector }}:{{ opendkim_config_directory }}/keys/{{ opendkim_domain_item.domainname }}/{{ opendkim_domain_item.selector }}.private
{% endfor %}
