[Unit]
Description=OpenDKIM DomainKeys Identified Mail (DKIM) Milter
Documentation=man:opendkim(8) man:opendkim.conf(5) man:opendkim-genkey(8) man:opendkim-genzone(8) man:opendkim-testadsp(8) man:opendkim-testkey http://www.opendkim.org/docs.html
After=network.target nss-lookup.target 

[Service]
Type=forking
PIDFile={{ opendkim_pid_file }}
User={{ opendkim_user }}
Group={{ opendkim_group }}
ExecStart=/usr/sbin/opendkim -x {{ opendkim_config_file }}
ExecReload=/bin/kill -USR1 $MAINPID
Restart=on-failure
RuntimeDirectory=opendkim
RuntimeDirectoryMode=0750
CapabilityBoundingSet=~CAP_SYS_ADMIN CAP_NET_ADMIN CAP_SYS_BOOT CAP_SYS_CHROOT CAP_SYS_MODULE CAP_SYS_TIME
SystemCallFilter=~@mount @privileged @module @cpu-emulation @clock
ReadWritePaths={{ opendkim_tmp_directory }} {{ opendkim_user_home }}
ProtectSystem=strict
PrivateTmp=yes
PrivateDevices=yes
ProtectHome=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
NoNewPrivileges=yes
ProtectKernelModules=yes
MemoryDenyWriteExecute=yes
{% if not (opendkim_request_reports or opendkim_mode.find('v') != -1) %}
PrivateNetwork=yes
{% endif %}

[Install]
WantedBy=multi-user.target
